.no-yj{
    border-radius:0px !important; 
}
  .label-nav{
                  position: absolute;
top: -13px;
right: -12px;
text-align: center;
font-size: 9px;
padding: 2px 4px;
line-height: 0.9;

}
.nav-left {

margin-top: -20px;

position:fixed;
z-index:2;
text-align:center;


         }

.nav-list > ul {
    border: 1px solid #E7E7E7;
    list-style: none;
    
    background-color: #F9F9F9;
    padding: 0px;
    margin: 0px;
min-height:900px;
       
        
 }

.nav-list > ul > li {
    border-top: 1px solid #E7E7E7;
    display: block;
}

.nav-list > ul > li:first-child {
    border-top: 0px;
}

.nav-list > ul > li:last-child {
    border-bottom: 1px solid #E7E7E7;
}

.nav-list > ul > li > a {
    padding: 10px 30px 10px 0px;
    display: block;
    color: #777777 !important;
    border-left: 3px solid #F9F9F9;
}

.nav-list > ul > li > a:focus {
    text-decoration: none;
    outline: none;
    color: #1963AA !important;
}

.nav-list > ul > li > a:hover {
    color: #1963AA !important;
    text-decoration: none;
    background-color: #fff;
    border-left: 3px solid #1963AA;
}

.nav-left > .user-panel {
    padding: 30px;
    background-color: #F9F9F9;
    border-right: 1px solid #E7E7E7;
}

.nav-left-bottrom-border {
    border-bottom: 1px solid #E7E7E7;
}

.nav-left-dropdown-ul {
    background-color: #fff;
    border-left: 3px solid #1963AA;
    margin-top: -1px;
}

.nav-left > .user-panel > img {
    width: 100px;
    height: 100px;
}

.nav-left-dropdown > ul {
    display: none;
}

.nav-left-dropdown-menu {
    position: relative;
    list-style: none;
    padding-left: 0px;
}

.nav-left-dropdown-menu > li {
    border-top: 1px dotted #E7E7E7;
}

.nav-left-dropdown-menu > li > a {
    color: #777777 !important;
    display: block;
    padding: 10px 30px 10px 0px;
    text-align:center;
}

.nav-left-dropdown-menu > li > a:hover, .nav-left-dropdown-menu > li > a:focus {
    color: #1963AA !important;
    text-decoration: none;
    outline: none;
}

.nav-left-dropdown-menu > li:first-child {
}

.nav-left-dropdown-a {
    background-color: #F9F9F9;
    border-left: 3px solid #1963AA;
}
.nav-user-img{
    width:20px;height:20px;
}
span{
    color:#808080 !important;
}
.nav-user-img-xiala{
    width:100px; height:100px;
}
a{
    color:#08A5E0 !important;
}
a:focus,a:hover{
     color:#0a8cd2 !important;
     outline:none !important;
  }
.no-hover:hover{
   background:none;
   color:none;
}
 .nav-username{
     margin-left:8px
 }
.nav a:hover{
    background-color:#EEE !important; 
}
.no-padding{
    padding:0 !important; 
}

.main-right{
    margin-top:-20px;
    padding:20px 0px;
}
.pagination>.active>a,.pagination>.active>a:hover,.pagination>.active>a:focus{
    outline:none;
    color:#0a8cd2;
    border:1px solid #ddd;
    border-top:1px solid #f00 !important;
    background-color:#EEE !important;
}
.pagination>.active{
    background-color:none !important;
}
table{
    color:#666666;
}
.tb-bg>thead{
   background-color:#f7f7f7;
}
.label{
    color:#fff !important;
}
 .panel-2{
         border-top:3px solid #244d9f;
         
     }
 .panel-3{
     border-top:3px solid #1963AA;
 }
 .tb-hover>tbody>tr:hover{
     background-color:#F7F7F7;
 }
 .user-li-head{
     background-color: #F9F9F9; margin-top: 0px; border-bottom: 1px solid #EEEEEE; padding-top: 10px
 }
 .navbar-brand{
     padding-left :30px;
 }
@media only screen and (max-width: 769px) {

    .nav-left{
       display:none;
        z-index:999;
    }

}
/*左侧导航栏*/
.navbtn{
	float: right;
}
.navbtns{
	float: right;
	display: none;
}
.navbtn1{
	float: right;
}
.navbtns1{
	float: right;
	display: none;
}
/*主界面*/
.bodys{
	margin-bottom: 0px;
	margin-top: -39px;
	padding-bottom: 0;
}
/*顶部导航栏*/
.navs{
	position: relative;
	z-index: 9;
	top:0px;
	margin:0;
	padding: 0;
}
/*搜索房间*/
.showRoomInp{
	width: 300px;
	margin: 0px 0px 0px 90px;
}
/*房型列表*/
.romTypeList{
	width:100%;
	height:36vw;
	padding-bottom:50px;
	overflow:auto;
} 
.romTypeList_a{
	position:relative;
	display:inline-block;
	width:170px;
	height:150px;
	float:left;
	margin:30px 0px 10px 90px;
	border:1px solid #ccc;
	border-radius:7px/7px;
	text-align:center;
	text-decoration:none;	
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.romTypeList_a p{
	display:inline-block;
	position: absolute;
	top: 45%;
	width:100%;
	font-size:22px;
	text-align:center;
	display: inline-block;
	color: #fff;
}
.romTypeList_a span{
	display:inline-block;
	position: absolute;
	top: 45%;
	left:0;
	width:100%;
	font-size:18px;
	text-align:center;
	display: inline-block;
	color: #eee;
}
.romTypeList_a p:hover{
	color: #fff;
}
.romTypeList_img{
	clear:both;
	width: 100%;
	height: 100%;
}
/*房间数量显示*/
.footer{
	width: 422px;
	height: 52px;
	position: fixed;
	top: 91.5%;
	left: 17%;
	background: #F1F5FF;
	border: 1px solid #ccc; 
}
.footer>a{
	color:#000;
	font-size: 14px;
}
.footer p{
	display: inline-block;
	float:left;
	width: 60px;
	height: 50px;
	padding-top: 8px;
	text-align: center;
	font-size: 14px;
	color: #000;
}
.footer span{
	display: inline-block;
}
.span2{
	background: #9eC9DE;
}
.span3{
	background: #399AB9;
}
.span4{
	background: #7CB97C;
}
.span5{
	background: #EC994F;
}
.span6{
	background: #D9734F;
}
/*新增房间类型*/
.newRoomType{
	width: 80%;
	position: absolute;
	top:5%;
	left:8%;
	z-index: 99;
	display: none;
}
.newRoomTypeInp{
	width: 37%;
	float: left;
	margin: 20px 50px;
}
.newRoomTypeFooter{
	clear:both;
	width: 100%;
	text-align: center;
}
.newRoomTypeFooter .btns{
	display: inline-block;
	margin: 0 5px;
}